@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #1e1e1e !important;
    background-image: url("gradient(1).png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
   }